body {
    background: url(./assets/3d-rendering-questions-background_23-2151455632.avif) fixed no-repeat center center;
    background-size: cover;
    color: white;
    overflow: hidden;
}

.my-swal {
    border-radius: 40% !important;
    background: rgb(104, 58, 148);
    box-shadow: 0px 5px 15px 5px black;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#quiz {
    font-size: 2rem;
    line-height: 50px;
}

.btn {
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(171, 130, 187);
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-right: 20px;
}

/* media queries */
@media screen and (max-width: 850px) {
    #quiz {
        font-size: 1.5rem;
        line-height: 40px;
    }

    .btn {
        padding: 5px;
        font-size: 1.3rem;
    }

    #container {
        margin-top: 170px;
    }
}

@media screen and (max-width: 500px) {
    #quiz {
        font-size: 1.3rem;
        line-height: 35px;
    }

    #container {
        margin-top: 190px;
    }
}
@media (min-width: 300px) and (max-width: 500px) {
    #quiz {
        font-size: 1rem;
    }

    #container {
        overflow: hidden;
        margin-top: 50px;
    }
}